-- SQL Script: seed_test_plano_contas.sql
-- Objetivo: Extrair as contas usadas na tabela balancetes_historicos e popular a tabela plano_contas (para testes).
-- Evita duplicações usando ON CONFLICT DO NOTHING.

INSERT INTO public.plano_contas (administradora_id, codigo, descricao, tipo)
SELECT 
    administradora_id, 
    conta_codigo, 
    'Conta ' || conta_codigo || ' - ' || MAX(fornecedor_nome) as descricao,
    'analitica' as tipo
FROM public.balancetes_historicos
WHERE conta_codigo IS NOT NULL
GROUP BY administradora_id, conta_codigo
ON CONFLICT (administradora_id, codigo) DO NOTHING;

